.continent-filter{
    background-color:#FFFFFF;
    height: 30vw;
    margin-left: 200px;
    width: 45vw;
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    border-radius: 30px;
    position: absolute;
 
}

.continent{
    background-color:#FFFFFF;
    height: 30vw;
    width: 45vw;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
  top: 0; 
  left: 0; 
  z-index: 999; 
  background-color: #FFFFFF; 
  padding: 10px; 
}
.continent-filter img{
    height: 6vw;
    width: 8vw;
    cursor: pointer;
    margin: 5px;
    background-color: #FFFFFF; 
}
.continents{
height: 3vw;
margin: 10px 10px;
margin-top: 25px;
background-color: #FFFFFF;
width: 100%;
display: flex;
justify-content: space-between; 
}

.continent-item{
    display: flex;
    flex-direction: column;
    margin: 15px;
    height: 8vw;
}

.continent-item:hover {
    border: 2px solid blue; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
