body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

.Home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #E3F4FF;
  margin-left: 300px;
  overflow: auto;
}

.search-bar {
  
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #E3F4FF;
}
/* 
.countries {
  align-items: center;
  text-align: center;
  p
  overflow-y: auto; 
} */

.content {
  background-color: #E3F4FF;
  /* margin: 20px;
  width: 20%; */
  align-items: center;
  position: relative;
  z-index: 20;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.content:hover .content__items {
  background-color: transparent;
  cursor: pointer;
}

.searchstyle {
  width: 700px;
  margin-top: 20px;
  margin-left: 10px;
  height: 50px;
  border: none;
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  font-size: 30px;
  box-shadow: inset 0 -5px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.pais {
  font-size: 20px;
}

.count {
  height: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2px;
  
}

.Buscar {
  width: 300px; 
  border: none;
 
  outline: none;
  background-color: #FFFFFF;
}

#lupa {
  background-color: #009CFF;
  font-size: 15px;
  text-align: center;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  height: 1.5vw;
  margin: 7px;
  width: 8vw;
  color: #FEFEFF;
  display: block;
}

#pais {
  align-content: flex-start;
  font-size: 15px;
  width: 30px;
  margin: 2px;
}

#input:focus {
  border-bottom: 2px solid rgb(222, 222, 236);
  outline: none;
}

.imagePias {
  background-color: aqua;
}
.details{
  position: fixed;
  bottom: 2px;
  background-color:rgb(224, 224, 235);
  border-radius: 20px;
  padding: 30px 30px;
  height: 50vh;
  margin-left: 60%;
  z-index: 30;
}

.fondo {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.fondo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__items {
  position: relative;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.253);
  color: white;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
}

.content__items div {
  height: 54%;
  display: grid;
  place-content: center;
}

.content__items h2 {
  background-color: rgb(26, 111, 190);
  height: 34%;
  display: grid;
  place-content: center;
}