body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

.containerManage{
  margin-left: 300PX;
  background-color: #E3F4FF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.codigo{

    background-color: #E3F4FF;
    height: 10vw;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    }

.capital{
  display:flex ;
  flex-direction: column;
}

.inputts{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #E3F4FF;
  height: 15vw;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px;
  align-items: center;
}

.continente{
  background-color: #E3F4FF;
  display: flex;
  margin: 20px;
  flex-direction: column;
 width: 30%;
 align-items: center;
  justify-content: space-evenly;
  height: 15vw;
}

.capital{
  display: flex;
  margin: 20px;
  
  flex-direction: column;
  background-color: #E3F4FF;
  justify-content: space-evenly;
  height: 15vw;
}


.updates{
  background-color:  #E3F4FF;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Conti{
  margin-right: 30px;
}

#quer{
  margin: 15px;
  background-color: #3F7FE9;
  color: beige;

 }



